- @title = "Gallery · #{@camp.title}"

- content_for :navigation do
  - @camps.each do |camp|
    = link_to_unless camp.title == @camp.title, camp.year, gallery_path(camp) do
      = link_to camp.year, gallery_path(camp), class: "active"

%article
  %h1= @camp.title

  = will_paginate(@photos)

  .gallery.l-fl
    - @photos.each do |photo|
      = link_to "", photo.largest.source_url, rel: "gallery", class: "fancybox", style: "background-image: url(#{photo.source_url})"

  = will_paginate(@photos)

  = link_to "&nbsp;".html_safe, expire_cache_path(camp: @camp, page: params[:page]), class: "delete-cache", method: :delete
