- @title = "Gallery · #{@camp.title}"

- content_for :navigation do
  %ol
    = list_of @camps do |camp|
      = link_to_unless camp.title == @camp.title, camp.year, gallery_path(camp) do
        %span.active= camp.year

%article
  %h1= @camp.title
  %ol.photos
    = list_of @photos do |photo|
      = link_to image_tag(photo.source_url), photo.largest.source_url, rel: "gallery"

  = will_paginate(@photos)

  = link_to "&nbsp;".html_safe, expire_cache_path(camp: @camp, page: params[:page]), class: "delete-cache", method: :delete
