- @title = 'Gallery'

%nav.secondary
  %ol
    = list_of @camps do |camp|
      - year, island = camp.title.split(', ')
      = link_to year, gallery_path(:camp => "#{year}-#{island.downcase}"), :class => camp.title == @current_camp.title && 'active'

%article
  %h1= @current_camp.title
  %ol.photos
    = list_of @photos do |photo|
      = link_to image_tag(photo.source_url), photo.largest.source_url, :rel => 'gallery'

  = link_to "&nbsp;".html_safe, "#{request.path}/expire_cache", :class => "delete-cache"
