- @title = "Gallery · #{@current_camp.title}"

- content_for :navigation do
  %ol
    = list_of @camps do |camp|
      - year, island = camp.title.split(', ')
      = link_to_unless camp.title == @current_camp.title, year, gallery_path(:camp => "#{year}-#{island.downcase}") do
        %span.active= year

%article
  %h1= @current_camp.title
  %ol.photos
    = list_of @photos do |photo|
      = link_to image_tag(photo.source_url), photo.largest.source_url, :rel => 'gallery'

  = will_paginate(@photos)

  = link_to "&nbsp;".html_safe, "#{request.path}/expire_cache", :class => "delete-cache"
