- @title = 'An Active and Dynamic Vacation'

%article
  :markdown
    # Waldorf Camp, Olib 2013

    We are pleased to take this opportunity to invite you to join us at the international family Waldorf Summer Camp which is to take place from the August 4th to 18th 2013 on the beautiful island of Olib.

    ![Olib](#{image_path "invitation/location.jpg"})

    ## Location

    Location Olib is a small island located in the Zadar archipelago just east if the island Silba and west of the island Pag. Olib is also the name of the main town on the Island, this historic town dates back to the 10th century and was inhabited by the Roman Empire. There are many archaeological sites scattered around the town which can be explored. The Island of Olib is best known for its wines and olive oils. Olib is an island of pedestrians, with no cars or motorcycles. There are a few restaurants, bars, a shop, post office, exchange office and tourist board office. It has many lovely coves and beaches for swimming and boating, and it’s a great place for cycling.

    ## Activities

    ![Circus](#{image_path "invitation/circus.jpg"})

    We have prepared workshops for children and parents: painting, Maculele, yoga, Croatian language course and music workshops and games in the sea and outdoor. In addition to the "traditional" workshops some new themes and activities will be organized (social games, treasure hunt, outdoor activities, etc.). Some of our activities and gathering will take place in a local school yard and some in other places provided by the generous Olib community.

    We are also going to continue with the National Evenings which we believe will become a firm tradition. Here we expect your engagement: please, prepare songs, dances, games from your country; we are not going to refuse any national gastro specialties that went down very well former years :) There is an optional possibility this year to make your own musical instrument from original materials. This should be booked in advance, and cost is 40 € per instrument.

    ![Kalimba](#{image_path "kalimba/kalimba2.jpg"})

    ### Kalimba

    Various kinds of thumb pianos have existed in Africa for thousands of years. The tines were originally made of bamboo but over the years metal keys have been developed. The instrument is known by different names in different regions of Africa, including  mbira huru, mbira njari, hurdy gurdy, mbira nyunga, marimba, karimba, likembe, and okeme, as well as [marímbula](http://en.wikipedia.org/wiki/Mar%C3%ADmbula) (also called kalimba) in the Caribbean Islands.

    The kalimba appears to have been invented in Africa, on the west coast of Africa about 3000 years ago... The Kalimba was typically played while walking by traveling [griots](http://en.wikipedia.org/wiki/Griot) ([West African](http://en.wikipedia.org/wiki/West_Africa) historian, storyteller, praise singer, poet and/or musician) who keep the history of the tribe or village, and to entertain people with songs, stories, poems, dances, etc.

    One of its indigenous names for this instrument can be translated, "The thing that makes walking easier." It was thought in ancient times that the thumb piano was able to project its sound into the heavens and could draw down spirits to the earth...

    ![Kalimba](#{image_path "kalimba/kalimba3.jpg"})

    This year, on our beautiful Waldorf Camp 2013, i will be holding workshops on how to make your own Kalimba!!! Just few days ago i came back from Brasil where i menaged to find authentic shaped African gourd (Calabash) that we will use to make traditional Kalimbas that are still used in various African rituals and coultures...

    The workshop will last until you finish your instrument :) We will work together every step of the way! The price of workshop is 40 € that includes: tools, materials and all the necessary time to finish your instrument... My love and patience is gratis :) Check out the amazing sound on [YouTube](http://www.youtube.com/watch?v=79c9mN9tEfg)!

    Let us do one more musical journey to Africa...together!!!

    ### Maculele

    Maculele is an old war dance in which two people are "struggling" with sticks! Struggling is performed in a circle made of people with songs and sounds of drums. First, everyone will make their own pair of sticks, paint it in their war paint and then move the workshop movement, songs and rhythms.

    ### Croatian language course

    Get to know the basics of the Croatian language in a fun way with a song, recitation, acting, socializing with Lada and Helena.

    ![Painting](#{image_path "invitation/painting.jpg"})

    ### Yoga

    Stretch and relax for a good start of a day stretch and relax with yoga and our lovely Lydia.

    ### Painting

    With Petar, you will discover the artist in you. Painting with acrylic colors will generate a daily inspiration...!

    #{render "clear"}

    ### Music workshop

    Vanni will introduce us in choral singing on the principle of -- everyone can sing :)

    ![Water games](#{image_path "invitation/water-games.jpg"})

    ### Social games for children

    With Igor fun never end: guided and organized games for the smallest ones and for older children.

    In addition to creative and educational contents enriching our joint vacations, our favorite aim is to experience, together with our children, the joy of a regular human contact through live word, movement, music and other activities.

    ## Organization

    Also this year the camp will be organized through a non-profit voluntary association for the promotion of cooperation in families and society "Kvija".

    ## Participation fee

    Participation fee which includes attendance to an unlimited number of workshops is 110 € per person and is payable regardless of participation in workshops and/or shorter stay, including children aged between 5 and 18. Our engagement and efforts for workshop organization is the same as are the costs, no matter for how long are you planning to stay. For this price every participant is eligible to take part in all workshops, or none (8 hours of workshops per day). During painting workshop you will get one big canvas or two small one. You can get extra canvas: 10 € for big one or 5 € for small one. If you are staying 4 days or shorter, and don’t attend any workshop, there is no obligation to pay participation fee. In this case the price for one day painting workshop is 15 €, and for other workshops 10 €.

    ### Discount for children

    Families with two, three or more children may have following discounts:

      * children under 5 yrs do not pay participation fee (no special workshops for them)
      * 50% for the second or third child aged from 5-7 yrs
      * 20% for the second child aged above 7 yrs
      * 40% for the third child aged above 7 yrs
      * 80% for the fourth child
      * the fifth child is **free** of participation fee

    ### Payment

    Participation fees should be paid into the Association’s bank account:

    #{render "address"}

    The payment should be made no later than **1st July 2013**!

    ![Acommodation](#{image_path "invitation/accommodation.jpg"})

    ## Accommodation

    The accommodation is organized in family apartments on the island. We will be placed in several houses with bath and kitchen. The price per bed depends on the accommodation and will be approximately € 15. Tourist tax should be paid separately to the tourist office the very first day of the camp: 0.8 € per day per person older than 12 years. The accommodation should be booked by organizers, otherwise you will be not regarded as Waldorf camp participant.

    #{render "clear"}

    ## Food

    Lunch will be organized in the main Olib’s restaurant called “Zadruga”. There we will have our meeting point. The price for lunch will be 7,3 € including soup, main dish, salad and dessert.

    For kids born from 2007 to 2001 a discount is 20%, for children born after 2007 a discount is 50%. Lunch is obligatory for every participant. If you want to have a dinner as well it will cost you  6 € more. The everyday menu is suited for vegetarians also and there is an option for vegan food.

    ![Olib](#{image_path "invitation/olib.jpg"})

    ## Transfer

    You can take a ferry from Zadar which will only take about two hours. You may check for ferry schedules at [Jadrolinija](http://www.jadrolinija.hr/) to avoid any inconvenience (District of Zadar: Zadar – Premuda/Mali Losinj).

    You can also take catamaran, [Miatours](http://www.miatours.hr/), which is faster, but no cars or bikes are allowed. On catamaran there is also baggage limit - one piece of baggage is allowed per person. It is desirable to buy a ticket for ferry and catamaran in advance, and if you are interested in this possibility, please contact the organizers.

    ## Photos

    Photos from our preceding Waldorf camps can be seen in the [gallery](/gallery) or on our [Flickr page](http://www.flickr.com/photos/waldorfcamp), where they came from.

    ## Contact

    ![Helena Ivetić](#{image_path "contact/helena.jpg"})

    Contact Helena Ivetić and book your place on time!

    #{render "helena_contact"}
