- @title = 'An Active and Dynamic Vacation'

%article.post
  .clearfix
    :markdown
      # Olib 2014

      We invite you to join us at the international family Waldorf Summer Camp
      which is to take place from the August 2nd to 16th 2014 on the beautiful
      island of Olib! The website has been updated with the content related to
      the upcoming camp, so feel free to look around :)

      #{image_tag "/assets/invitation/accommodation.jpg"}

      ## Location

      Olib is one of the most beautiful Croatian islands located in the Zadar
      archipelago. There is only one village on the island that dates back to
      Roman times, but has many lovely and hidden coves, as well as the wide,
      sandy and shallow beaches offering great opportunities for bathing, boating
      and playing. There are no cars and the island has a quiet, relaxing and
      friendly atmosphere. There are a few restaurants, bars (Milivoj's bar by
      the mole is very well known for their offerings and music!), a shop, post
      office, exchange office and tourist board office. Olib island is a great
      place for cycling!

      ## Activities

      Also for this camp we have prepared workshops for children and parents:
      woodcarving, African dances, yoga, Croatian language course, music
      workshop, social games and outdoor games. 

      #{image_tag "/assets/workshops/navigation/caxixi.jpg"}

      ### [Caxixi](/workshops/caxixi)

      For all of you who are interested in traditional instruments, Igor is
      organizing additional Caxixi workshop, which is not one of the regular
      workshop. Caxixi is an old African instrument which was used by the old
      shamans to scare away evil spirits. Eventually it became a basic
      accompaniment and rhythmic base in almost all African percussion ensembles.

      #{image_tag "/assets/workshops/navigation/african-dances.jpg"}

      ### [African Dances](/workshops/african-dances)

      This hot summer we will enjoy in african dances. In the last few years the
      African dances become a very popular form of fun and recreation also in
      other parts of the world! In Africa they are performed even today on the
      occasion of various events, such as initiation, birth, weddings,
      celebration of fruitful year…African dances are very energetic and joyful,
      include all muscle groups and are great fun and recreation for children and
      adults. Igor is eager to teach us new movements!

      ### [Croatian Language Course](/workshops/croatian-language)

      You think Croatian language is to complex and impossible to learn? You will
      change your opinion if you join this cheerful workshop, full of laugh and
      joy. Get to know the basics of the Croatian language in a fun way with a
      song, recitation, acting and socializing with Lada and Helena. Final
      performance will reveal a hidden actor in you!

      #{image_tag "/assets/workshops/navigation/yoga.jpg"}

      ### [Yoga](/workshops/yoga)

      With Lidija, we practice yoga to find again our inner peace that connects
      us to the universal energy and opens us to love. We practice in the morning
      in a pine forest, listening to the waves. The physical exercises strengthen
      and relax your body, while the breathing exercises activate our vital
      energy. The power of yoga healing will increase your memory power,
      enthusiasm, and positive approach to life.

      #{image_tag "/assets/workshops/navigation/painting.jpg"}

      ### [Art Workshop](/workshops/painting)

      Petar will never teach you how to move you brush or take care about
      perspective, but he will definitely discover a real and hidden artist in
      you! This year we will focus on woodcarving, making wooden sculptures,
      boats and other nice things. For those of you who love painting we will
      offer also this possibility - you should just tell us on time so we can
      provide canvas and colors for you. Kids will create art by combining
      different materials collected around us and transform into art by their
      rich imagination! It's good to remember that Petar's workshops always focus
      on process rather than “perfect” results.

      #{image_tag "/assets/workshops/navigation/singing.jpg"}

      ### [Italian Folk Music and Choral Singing Workshop](/workshops/singing)

      During this workshop we will sing and play, so don't forget to bring your
      instruments! There is no need for any specific musical knowledge. 

      Voice exercises are made through a series of exercises based on folk music
      tradition. Repertoire learning includes a first phase in which whole group
      studies the original melody with special attention to the phonetics,
      proceeding to work on polyphony. The third phase includes performance with
      musical instruments with cooperation of many musicians or amateurs.

      Vanni is preparing new songs for us!

      #{image_tag "/assets/workshops/navigation/social-games.jpg"}

      ### [Social games for children](/workshops/social-games)

      With Igor fun never ends: guided and organized games for the smallest ones
      and for older children. In addition to creative and educational contents
      enriching our joint vacations, our favorite aim is to experience, together
      with our children, the joy of a regular human contact through live word,
      movement, music and other activities.

  .apply
    = link_to "Apply for participation", "https://docs.google.com/forms/d/1X4U6EAYEwrsEIZbAVvgG2QMySQd9P8kihATPlkhFPcY/viewform", class: "btn btn-lg btn-primary"
