- @title = 'Workshops'

%article
  :markdown
    # Workshops

    We have prepared workshops for children and parents: painting, African
    dances, yoga, Croatian language course, music workshops, treasure hunt,
    social games and games in the sea and outdoor. Some of our activities and
    gathering will take place in a local play yard near the restaurant and some
    in other places provided by the generous Olib community.

    We are also going to continue with the National Evenings which are a firm
    tradition. National evenings are good oportunity to connect with other
    nations and to teach others about your country!

  .workshops.row.m-top
    - @workshops.each do |workshop|
      .workshop.col-xs-6.col-md-4{class: "workshop-#{workshop.type}"}
        = link_to workshop_path(workshop), class: "#{workshop.name}" do
          = image_tag "workshops/navigation/#{workshop.name}.jpg", class: "img-thumbnail s-bottom-hl", alt: workshop
          %p= workshop
