- @title = 'Workshops'

%article
  :markdown
    # Workshops

    These are the workshops which have been held regularly since the beginning of the camp. So, besides these, we also had workshops for drama, archery, folk dances, drumming... you name it!

  .workshops.row
    - @workshops.each do |workshop|
      .workshop.col-xs-6.col-md-3
        = link_to workshop_path(workshop), class: "#{workshop.name}" do
          = image_tag "workshops/navigation/#{workshop.name.downcase}.jpg", class: "img-thumbnail s-bottom-hl", alt: workshop
          %p= workshop
