%footer.footer
  .container
    :markdown
      Design & development by [Janko &amp; Matija](http://twin.github.io) Marohnić. Photography by Jadranka Marohnić, Željko Marohnić and Ana Božić.

    .social
      = link_to icon("facebook"), "https://facebook.com/campwaldorf", rel: "publisher", target: "_blank", class: "social-facebook"
      = link_to icon("twitter"), "https://twitter.com/campwaldorf", rel: "publisher", target: "_blank", class: "social-twitter"
      = link_to icon("googleplus"), "https://plus.google.com/114689702792346575599", rel: "publisher", target: "_blank", class: "social-google-plus"
      = link_to icon("youtube"), "https://www.youtube.com/channel/UCJSkP0RNskbgly3W4gvoOaw", rel: "publisher", target: "_blank", class: "social-youtube"
      = link_to icon("flickr"), "https://www.flickr.com/photos/waldorfcamp", rel: "publisher", target: "_blank", class: "social-flickr"
