%nav.navigation
  .container.clearfix
    .navigation-links.clearfix
      = link_to icon("brightness-high"), root_path, class: "icon-container navigation-logo"
      - navigation_pages.each do |page|
        = link_to_unless_current page.title, page.route do
          = link_to page.title, page.route, class: "active"

    .navigation-buttons
      = link_to "Receive news".prepend_icon("envelop"), "http://eepurl.com/M7N7T", class: "btn btn-sm btn-info", target: "_blank"
      = link_to "Participate".prepend_icon("signup"), "https://docs.google.com/forms/d/1cQIyvfsGTy_K0frFLOO6siQK34gD1zJOe7MS5kwtS84/viewform", class: "btn btn-sm btn-primary", target: "_blank"
