!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title= 'Waldorf Camp' + (data.page.title ? " &middot; #{data.page.title}" : '')
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister'}
    = stylesheet_link_tag 'normalize'
    = stylesheet_link_tag 'screen'
    = javascript_include_tag 'zepto.min'
    = javascript_include_tag 'jquery-1.7.min'
    = javascript_include_tag 'jquery.pjax'
    = javascript_include_tag 'init'
  %body
    #wrapper
      %header
        %hgroup
          %h1#logo= link_to 'Waldorf Camp', '/'
          %h2#tagline An Active and Dynamic Vacation

      %nav
        %ol
          - data.navigation.each do |link|
            %li{class: (current_page?(link.url) ? 'current' : '' )}
              = link_to link.title, link.url

      #main
        = yield
